.forgotpass {
  background-image: url(./assets/img/bc.png);
  background-size: cover;
  img {
    height: 35rem;
  }
  a {
    text-decoration: unset;
    color: $--color-primary;
  }
  .el-card {
    min-width: 535px;
    .el-form-item__error {
      right: 0;
      left: unset;
    }
  }
  .font {
    font-family: 'Shams',tahoma;
    font-size: 3.5rem;
    color: $--color-primary;
    font-weight: 800;
  }
  .el-form-item__content {
    text-align: center;
  }
  .el-input__inner {
    text-align: center;
  }
}
.bg-success-dark {
  background-color: $--color-primary-light-3;
  border-color: $--color-primary-light-3;
  .el-message__content, .el-icon-success {
    color: $--color-white;
  }
}
.bg-error-dark {
  background-color: $--color-danger;
  border-color: $--color-danger;
  .el-message__content, .el-icon-error {
    color: $--color-white;
  }
}